/* H1 Styles */
h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-align: center;
}

/* Paragraph Styles */
p {
  font-weight: 600;
  font-size: 3em;
  text-decoration: underline;
}
/* UL Styles */
ul {
  background-color: gainsboro;
  line-height: 30px;
  font-style: italic;
}

body {
  font-size: 16px;
}
/* Class favorite-color Styles */
.favorite-color {
  background-color: gray;
}

/* List Itens Color Styles */
#li-yellow {
  color: yellow;
}
#li-red {
  color: red;
}
#li-brown {
  color: brown;
}
