.button-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container button {
  padding: 2rem;
  margin: 1rem;

  font-size: 3rem;
}