.super-mario {
  position: absolute;
  width: 200px;
}

.goomba {
  position: absolute;
  width: 100px;
  top: 340px;
  left: 150px;
}

.baloon {
  position: absolute;
  top: 100px;
  left: 200px;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  top: 140px;
  left: 220px;
}

.bowser {
  position: absolute;
  width: 200px;
  left: 480px;
  top: 240px;
}
